Repository Josecisneros001/service-delivery, pull requests merged in 2021-11, with the labels that each got.

#26 Create new service, NavBar Component & React-router-dom Implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/General/Navbar.tsx
  frontend/src/components/ServiceProviders/CreateNewService.tsx
  frontend/src/components/ServiceProviders/ServiceProviderNavbar.tsx
  frontend/src/components/Users/UsersNavbar.tsx
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/routes/router.tsx
  frontend/src/views/ServiceProvider.tsx
  frontend/src/views/Users.tsx
Labels: frontend

#29 Feature/UsersApi
  .gitignore
  backend/controllers/Users.ts
  backend/db/svc_delivery.sql
  backend/models/Users.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/Users.ts
  backend/scripts/buildQueryHelpers.ts
  backend/scripts/handlePasswords.ts
  backend/server.ts
Labels: backend

#33 Add Servicephotos API
  backend/controllers/ServicePhotos.ts
  backend/models/ServicePhotos.ts
  backend/routes/ServicePhotos.ts
  backend/routes/Users.ts
  backend/scripts/buildQueryHelpers.ts
  backend/server.ts
Labels: backend

#37 Add Intersection Condition to Services-GET
  .gitignore
  backend/controllers/Services.ts
  backend/db/svc_delivery.sql
  backend/scripts/buildQueryHelpers.ts
Labels: backend

#41 Add Workhours API
  backend/controllers/WorkHours.ts
  backend/models/WorkHours.ts
  backend/routes/WorkHours.ts
  backend/server.ts
Labels: backend

#42 Add Appointments API
  backend/controllers/Appointments.ts
  backend/models/Appointments.ts
  backend/routes/Appointments.ts
  backend/server.ts
Labels: backend

#43 Add Reviews API
  backend/controllers/Reviews.ts
  backend/models/Reviews.ts
  backend/routes/Reviews.ts
  backend/scripts/buildQueryHelpers.ts
  backend/server.ts
Labels: backend

#44 ChatMessages API
  backend/controllers/ChatMessages.ts
  backend/models/ChatMessages.ts
  backend/routes/ChatMessages.ts
  backend/routes/ServicePhotos.ts
  backend/server.ts
Labels: backend

#46 Add SocketIoImplementation
  backend/bin/www.ts
  backend/helpers/SocketIo.ts
  backend/helpers/UsersSocketIo.ts
  backend/interfaces/UsersOnline.ts
  backend/package-lock.json
  backend/package.json
Labels: backend

#48 JWT Authentication Implementation
  backend/controllers/Users.ts
  backend/middleware/jwtAuth.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/Appointments.ts
  backend/routes/ChatMessages.ts
  backend/routes/Reviews.ts
  backend/routes/ServiceCategories.ts
  backend/routes/ServicePhotos.ts
  backend/routes/Services.ts
  backend/routes/Users.ts
  backend/routes/WorkHours.ts
Labels: backend

#60 Frontend/APIsImplementations
  backend/bin/www.ts
  backend/middleware/cors.ts
  backend/routes/Users.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Interfaces/models/Appointments.ts
  frontend/src/Interfaces/models/ChatMessages.ts
  frontend/src/Interfaces/models/Reviews.ts
  frontend/src/Interfaces/models/ServiceCategories.ts
  frontend/src/Interfaces/models/ServicePhotos.ts
  frontend/src/Interfaces/models/Services.ts
  frontend/src/Interfaces/models/Users.ts
  frontend/src/Interfaces/models/WorkHours.ts
  frontend/src/scripts/APIs.ts
  frontend/src/scripts/APIs/Appointments.ts
  frontend/src/scripts/APIs/ChatMessages.ts
  frontend/src/scripts/APIs/Reviews.ts
  frontend/src/scripts/APIs/ServiceCategories.ts
  frontend/src/scripts/APIs/ServicePhotos.ts
  frontend/src/scripts/APIs/Services.ts
  frontend/src/scripts/APIs/Users.ts
  frontend/src/scripts/APIs/WorkHours.ts
Labels: backend, frontend

#61 Feature/ChatFrontend
  backend/controllers/ChatMessages.ts
  backend/controllers/Users.ts
  backend/db/mysql.ts
  backend/scripts/buildQueryHelpers.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Chats/Chats.tsx
  frontend/src/components/Chats/Message.tsx
  frontend/src/components/Chats/SearchUsers.tsx
  frontend/src/components/Chats/UserRow.tsx
  frontend/src/components/General/FormField/FormField.tsx
  frontend/src/components/General/Navbar.tsx
  frontend/src/components/ServiceProviders/ServiceProviderNavbar.tsx
  frontend/src/components/ServiceProviders/ServiceProviderNavbarLogin.tsx
  frontend/src/components/SignUp/SignUp.tsx
  frontend/src/components/Users/UsersNavbar.tsx
  frontend/src/components/Users/UsersNavbarLogin.tsx
  frontend/src/scripts/APIs.ts
  frontend/src/scripts/APIs/ChatMessages.ts
  frontend/src/scripts/APIs/Users.ts
  frontend/src/views/ServiceProvider.tsx
  frontend/src/views/Users.tsx
Labels: backend, frontend

#62 Add MapComponent
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/General/Map.tsx
  frontend/src/components/General/Slider.css
  frontend/src/components/General/Slider.tsx
  frontend/src/components/Users/MapTest.tsx
  frontend/src/views/Users.tsx
  frontend/tsconfig.json
Labels: frontend

#64 Feature/Availability
  backend/controllers/WorkHours.ts
  frontend/public/favicon.ico
  frontend/public/index.css
  frontend/public/index.html
  frontend/src/components/General/Calendar/Calendar.tsx
  frontend/src/components/General/Calendar/Day.tsx
  frontend/src/components/General/Calendar/Hour.css
  frontend/src/components/General/Calendar/Hour.tsx
  frontend/src/components/General/Map.tsx
  frontend/src/components/ServiceProviders/Availability.tsx
  frontend/src/components/ServiceProviders/CreateNewService.tsx
  frontend/src/components/ServiceProviders/ServiceProviderNavbar.tsx
  frontend/src/interfaces/AvailabilityModel.ts
  frontend/src/scripts/APIs.ts
  frontend/src/views/ServiceProvider.tsx
Labels: frontend

#66 feat: User Home Page view.
  backend/controllers/Services.ts
  frontend/src/components/General/Card.tsx
  frontend/src/components/General/Map.tsx
  frontend/src/components/General/Navbar.tsx
  frontend/src/components/ServiceProviders/ServiceProviderNavbar.tsx
  frontend/src/components/ServiceProviders/ServiceProviderNavbarLogin.tsx
  frontend/src/components/UserProfile/FoundServiceListItem.tsx
  frontend/src/components/UserProfile/UserProfile.css
  frontend/src/components/UserProfile/UserProfile.tsx
  frontend/src/components/UserProfile/WelcomeUserbar.tsx
  frontend/src/components/Users/UserHomePage/FoundServiceListItem.tsx
  frontend/src/components/Users/UserHomePage/UserHomePage.tsx
  frontend/src/components/Users/UsersNavbar.tsx
  frontend/src/components/Users/UsersNavbarLogin.tsx
  frontend/src/interfaces/models/Users.ts
  frontend/src/scripts/APIs/ServiceCategories.ts
  frontend/src/scripts/APIs/Services.ts
  frontend/src/views/Users.tsx
Labels: frontend

#70 fix: Buttons for selecting category changed to radio.
  backend/controllers/ServicePhotos.ts
  backend/controllers/Services.ts
  backend/routes/ServicePhotos.ts
  frontend/src/components/General/FormField/FormField.tsx
  frontend/src/components/General/Map.tsx
  frontend/src/components/General/Slider.tsx
  frontend/src/components/ServiceProviders/CreateNewService.tsx
  frontend/src/components/ServiceProviders/ServiceManipulation.tsx
  frontend/src/components/Users/UserHomePage/UserHomePage.tsx
  frontend/src/interfaces/ServiceFoundRow.ts
  frontend/src/interfaces/SignUp/FormField.ts
  frontend/src/views/ServiceProvider.tsx
Labels: enhancement
